#logo1{
    display: inline-block;
    width: 20%;
    float: left;
}
#logo2{
    display: inline-block;
    width: 10%;
    float: right;
}
#titulo1{
    display: inline-block;
    width: 50%;
}
#titulotexto{
    display: inline-block;
    width: 50%;
}
#barraNav{
    clear: both;
}
.menu{
    display: inline-block;
    width: 10%;
    background-color: aliceblue;
    border: solid;
    text-align: center;
}
#marco{
    width: 100%;
    height: 500px;
    padding: 8px;
}
#pie{
    border: double;
    background-color: azure;
    text-align: center;
    
}
